<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<link rel="icon" type="image/png" href="static/assets/img/nba.png">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

	<title>NBA Data Analytics</title>

	<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />
    <!-- define Plotly -->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

    <!-- Bootstrap core CSS     -->
    <!-- <link href="./templates/bootstrap.min.css" rel="stylesheet" /> -->
    <link rel="stylesheet" href="static/assets/css/bootstrap.min.css">

    <!-- Animation library for notifications   -->
    <link href="static/assets/css/animate.min.css" rel="stylesheet"/>

    <!--  Light Bootstrap Table core CSS    -->
    <link href="static/assets/css/light-bootstrap-dashboard.css?v=1.4.0" rel="stylesheet"/>


    <!--  CSS for Demo Purpose, don't include it in your project     -->
    <!-- <link href="static/assets/css/demo.css" rel="stylesheet" /> -->

    <!--     Fonts and icons     -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,700,300' rel='stylesheet' type='text/css'>
    <link href="static/assets/css/pe-icon-7-stroke.css" rel="stylesheet" />
    <!-- map css -->
    <link href="static/assets/css/styleChloro.css" rel="stylesheet" />
    <!-- Leaflet CSS & JS -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.3/dist/leaflet.css"integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ=="crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.3.3/dist/leaflet.js"integrity="sha512-tAGcCfR4Sc5ZP5ZoVz0quoZDYX5aCtEm/eu1KhSLj2c9eFrylXZknQYmxUssFaVJKvvc0dJQixhGjG2yXWiV9Q=="crossorigin=""></script>

    <!--D3 cdn-->
    <script src="https://d3js.org/d3.v6.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.9.2/d3.js"></script>
    <script type="text/javascript" src="static/assets/js/plot.js"></script>
    <style type="text/css">
        .custom {
            font-family: Roboto,Arial,sans-serif;
            color: rgb(255, 255, 255);
            font-size:20px;
        }
        </style>
    

</head>
<body>


    <div class="wrapper">
        <div class="sidebar" data-color="black" data-image="static/assets/img/nba.png">
    
        <!--   you can change the color of the sidebar using: data-color="blue | azure | green | orange | red | purple" -->
    
    
            <div class="sidebar-wrapper">
                <div class="logo">
                    <a href="#" class="custom">
                        NBA Data Analytics 
                    </a>
                </div>
    
                <ul class="nav">
                    <li class="active">
                        <a href="static/index.html">
                            <i class="pe-7s-graph"></i>
                            <p>Home</p>
                        </a>
                    </li>
                    <li>
                        <a href="static/team.html">
                            <i class="pe-7s-users"></i>
                            <p>Project Members</p>
                        </a>
                    </li>
                    <li>
                        <a href="static/table.html">
                            <i class="pe-7s-note2"></i>
                            <p>Analysis</p>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    
        <div class="main-panel">
            <nav class="navbar navbar-default navbar-fixed" style="background-color: #021b2b;">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example-2">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="index.html">
                            <span class="custom">Home</span>
                        </a>
                    </div>
                    <div class="collapse navbar-collapse">
                        <ul class="nav navbar-nav navbar-left">
                            <li class="dropdown">
                                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                  </a>
                                  <ul class="dropdown-menu">

                                  </ul>
                            </li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                            <li class="dropdown">
                                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                        <p>
                                            <span class="custom">Teams</span>
                                            
                                            <b class="caret"></b>
                                        </p>
    
                                  </a>
                                  <ul class="dropdown-menu">
                                    <li class="menu-item"><a href="hawks.html">Atlanta Hawks</a></li>
                                    <li class="menu-item"><a href="celtics.html">Boston Celtics</a></li>
                                    <li class="menu-item"><a href="nets.html">Brooklyn Nets</a></li>
                                    <li class="menu-item"><a href="hornets.html">Charlotte Hornets</a></li>
                                    <li class="menu-item"><a href="bulls.html">Chicago Bulls</a></li>
                                    <li class="menu-item"><a href="cavaliers.html">Cleveland Cavaliers</a></li>
                                    <li class="menu-item"><a href="mavericks.html">Dallas Mavericks</a></li>
                                    <li class="menu-item"><a href="nuggets.html">Denver Nuggets</a></li>
                                    <li class="menu-item"><a href="pistons.html">Detroit Pistons</a></li>
                                    <li class="menu-item"><a href="warriors.html">Golden State Warriors</a></li>
                                    <li class="menu-item"><a href="rockets.html">Houston Rockets</a></li>
                                    <li class="menu-item"><a href="pacers.html">Indiana Pacers</a></li>
                                    <li class="menu-item"><a href="clippers.html">LA Clippers</a></li>
                                    <li class="menu-item"><a href="lakers.html">Los Angeles Lakers</a></li>
                                    <li class="menu-item"><a href="grizzlies.html">Memphis Grizzlies</a></li>
                                    <li class="menu-item"><a href="heat.html">Miami Heat</a></li>
                                    <li class="menu-item"><a href="bucks.html">Milwaukee Bucks</a></li>
                                    <li class="menu-item"><a href="timberwolves.html">Minnesota Timberwolves</a></li>
                                    <li class="menu-item"><a href="pelicans.html">New Orleans Pelicans</a></li>
                                    <li class="menu-item"><a href="knicks.html">New York Knicks</a></li>
                                    <li class="menu-item"><a href="thunder.html">Oklahoma City Thunder</a></li>
                                    <li class="menu-item"><a href="magic.html">Orlando Magic</a></li>
                                    <li class="menu-item"><a href="76ers.html">Philadelphia 76ers</a></li>
                                    <li class="menu-item"><a href="suns.html">Phoenix Suns</a></li>
                                    <li class="menu-item"><a href="blazers.html">Portland Trail Blazers</a></li>
                                    <li class="menu-item"><a href="kings.html">Sacramento Kings</a></li>
                                    <li class="menu-item"><a href="spurs.html">San Antonio Spurs</a></li>
                                    <li class="menu-item"><a href="raptors.html">Toronto Raptors</a></li>
                                    <li class="menu-item"><a href="jazz.html">Utah Jazz</a></li>
                                    <li class="menu-item"><a href="wizards.html">Washington Wizards</a></li>
                                  </ul>
                            </li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                            <li class="dropdown">
                                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                        <p>
                                            <span class="custom">Top Players</span>
                                            
                                            <b class="caret"></b>
                                        </p>
    
                                  </a>
                                  <ul class="dropdown-menu">
                                    <li class="menu-item"><a href="schedule-featured-style.html">Lebron James</a></li>
                                    <li class="menu-item"><a href="schedule-medium-style.html">Jimmy Butler</a></li>
                                    <li class="menu-item"><a href="schedule-widget-style.html">James Harden</a></li>
                                    <li class="menu-item"><a href="schedule.html">Anthony Davis</a></li>
                                  </ul>
                            </li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                            <li class="dropdown">
                                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                        <p>
                                            <span class="custom">Seasons</span>
                                            
                                            <b class="caret"></b>
                                        </p>
    
                                  </a>
                                  <ul class="dropdown-menu">
                                    <li class="menu-item"><a href="season_15_16.html">2015 - 2016</a></li>
                                    <li class="menu-item"><a href="season_16_17.html">2016 - 2017</a></li>
                                    <li class="menu-item"><a href="season_17_18.html">2017 - 2018</a></li>
                                    <li class="menu-item"><a href="season_18_19.html">2018 - 2019</a></li>
                                    <li class="menu-item"><a href="season_19_20.html">2019 - 2020</a></li>

                                  </ul>
                            </li>
                        </ul>
            </nav>
    

        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-4">
                        <div class="card">

                            <div class="header">
                                <h4 class="title">Percentage of Home Wins/Losses</h4>
                                <p class="category">Selected Team Statistics</p>
                            </div>
                            <div class="content">
                                <div id="chartPreferences" class="ct-slice-pie"></div>
                                
                                    
                                    <!-- Define the user prompt -->
                                    <h5> Choose a Team and a Season </h5>
                                    <!-- Define the State dropdown -->
                                    <select id="dropDown1">
                                    <option value="Atlanta Hawks">Atlanta Hawks</option>
                                    <option value="Boston Celtics">Boston Celtics</option>
                                    <option value="Brooklyn Nets">Brooklyn Nets</option>
                                    <option value="Charlotte Hornets">Charlotte Hornets</option>
                                    <option value="Chicago Bulls">Chicago Bulls</option>
                                    <option value="Cleveland Cavaliers">Cleveland Cavaliers</option>
                                    <option value="Dallas Mavericks">Dallas Mavericks</option>
                                    <option value="Denver Nuggets">Denver Nuggets</option>
                                    <option value="Detroit Pistons">Detroit Pistons</option>
                                    <option value="Golden State Warriors">Golden State Warriors</option>
                                    <option value="Houston Rockets">Houston Rockets</option>
                                    <option value="Indiana Pacers">Indiana Pacers</option>
                                    <option value="LA Clippers">LA Clippers</option>
                                    <option value="Los Angeles Lakers">Los Angeles Lakers</option>
                                    <option value="Memphis Grizzlies">Memphis Grizzlies</option>
                                    <option value="Miami Heat">Miami Heat</option>
                                    <option value="Milwaukee Bucks">Milwaukee Bucks</option>
                                    <option value="Minnesota Timberwolves">Minnesota Timberwolves</option>
                                    <option value="New Orleans Pelicans">New Orleans Pelicans</option>
                                    <option value="New York Knicks">New York Knicks</option>
                                    <option value="Oklahoma City Thunder">Oklahoma City Thunder</option>
                                    <option value="Orlando Magic">Orlando Magic</option>
                                    <option value="Philadelphia 76ers">Philadelphia 76ers</option>
                                    <option value="Phoenix Suns">Phoenix Suns</option>
                                    <option value="Portland Trail Blazers">Portland Trail Blazers</option>
                                    <option value="Sacramento Kings">Sacramento Kings</option>
                                    <option value="San Antonio Spurs">San Antonio Spurs</option>
                                    <option value="Toronto Raptors">Toronto Raptors</option>
                                    <option value="Utah Jazz">Utah Jazz</option>
                                    <option value="Washington Wizards">Washington Wizards</option>
                                    </select>  

                                    <!-- Define the Year dropdown -->
                                    <select id="dropDown2">
                                    <option value="2015">2015</option>
                                    <option value="2016">2016</option>
                                    <option value="2017">2017</option>
                                    <option value="2018">2018</option>
                                    <option value="2019">2019</option>
                                    </select>
                                    <br>
                                    <div id='pie'></div>
                                    <h6>Legend</h6>

                               
                                        <i class="fa fa-circle text-success"></i> Wins
                           
                                        <i class="fa fa-circle text-warning"></i> Losses
                           
                                <div class="footer">

                                    <hr>
                                    <div class="stats" >
                                        <i class="fa fa-check"></i> 2015-2019 Statistics
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-8">
                        <div class="card">
                            <div class="header">
                                <h4 class="title">Wins by Opponent</h4>
                                <p class="category">2015-2019</p>
                            </div>
                            <div id="myPlot"></div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="header">
                                <h4 class="title">NBA Teams </h4>
                            </div>
                            <div class="content" >
                                <div class="table table-responsive" id="myTable">

                                </div>

                                <div class="footer">
                                    <hr>
                                    <div class="stats">
                                        <i class="fa fa-check"></i> Data Table
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <footer class="footer">
            <div class="container-fluid">
                <nav class="pull-right">
                    <ul>
                        <li>
                            <a href="index.html">
                                Home
                            </a>
                        </li>
                        <li>
                            <a href="team.html">
                                Meet Our Team
                            </a>
                        </li>
                        <li>
                            <a href="https://github.com/Denbigh97/Project_2_Red_Team">
                                GitHub Repository
                            </a>
                        </li>
                    </ul>
                </nav>
                <p class="copyright pull-left">
                     <a>Muskatweeters</a>
                </p>
            </div>
        </footer>

    </div>
    
</body>

    <!--   Core JS Files   -->
    <script src="static/assets/js/jquery.3.2.1.min.js" type="text/javascript"></script>
	<script src="static/assets/js/bootstrap.min.js" type="text/javascript"></script>

	<!--  Charts Plugin -->
	<script src="static/assets/js/chartist.min.js"></script>
    <!-- Light Bootstrap Table Core javascript and methods for Demo purpose -->
    <script src="static/assets/js/light-bootstrap-dashboard.js?v=1.4.0"></script>
    <!-- create data table from by using cleansed data csv -->
    <script src="static/assets/js/dashboard.js"></script>
    <!-- API key -->
    <script type="text/javascript" src="static/assets/js/plot.js"></script>
    <!-- Choropleth JS -->
    <script src="static/assets/js/data.js"></script>
    <script src="static/assets/js/app.js"></script>
    <!-- Pie Plot JS -->
    <script type="text/javascript" src=""></script>

</html>